@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    111 Hamilton Avenue<br />
    Fords(Woodbridge), NJ 08863<br />
    <abbr title="Phone">P:</abbr>
    848.565.1672
</address>

<address>
    <strong>Information:</strong> <a href="mailto:info@christagnj.org">info@christagnj.org</a><br />

</address>
